.rm-button {
    background-color: #47b369;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 400;
    padding: .5rem 4rem;
    border: 0;
    line-height: 36px;
    color: #fff;
    outline: 0;
    box-shadow: none !important;
    cursor: pointer;
}

.rm-button.disabled {
    background: transparent !important;
    color: #969a9e !important;
    cursor: default !important;
    pointer-events: none;
    border: 1px solid #e1e7ed !important;
}

.rm-button.advanced-button {
    padding: 12px 24px;
    border: 1px solid #c9ced4;
    border-radius: 50px;
    background-color: #ffffff;
    background-size: cover;
    font-size: 16px;
    text-align: center;
    color: #262626 !important;
    text-decoration: rgb(38, 38, 38);
    display: flex !important;
    white-space: nowrap;
    align-items: center;
    align-self: flex-end;
}

.rm-button.advanced-button img {
    margin-right: 5px;
}

.rm-back-button {
    background-color: transparent;
    width: auto;
    text-align: center;
}

.rm-mt-1 {
    margin-top: 1rem !important;
}

.rm-mt-2 {
    margin-top: 2rem !important;
}

.rm-button:focus {
    outline: none;
}

#rm-connector {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    font-size: 1rem;
    max-width: 80em;
    margin: 0 auto;
}

#rm-connector p {
    font-size: 1rem;
}

#rm-connector .rm-logo {
    z-index: 100;
}

#rm-connector .rm-banner {
    width: 100%;
    max-width: 60rem;
}

#rm-connector .rm-mb-1 {
    margin-bottom: 1rem !important;
}

#rm-connector a, a.rm-link {
    display: inline-block;
    width: fit-content;
    color: #47b369;
    font-size: 14px;
}

#rm-connector .rm-field {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

#rm-connector .rm-field label {
    width: 10rem;
}

#rm-connector .rm-field input {
    background: #f0f2f5;
    border-color: #d1d9e0;
    display: block;
    width: 100%;
    min-width: 0;
    padding: 12px 16px;
    font-size: 14px;
    line-height: 22px;
    color: #444444;
}

.rm-display-none {
    display: none !important;
}

#rm-advanced-settings .form-table th {
    width: 340px;
    font-weight: normal;
}

#rm-advanced-settings {
    font-size: 1rem;
    max-width: 80em;
    margin: 0 auto;
    padding: 3rem;
}

#rm-advanced-settings .opt-in-field {
    display: flex;
    align-items: center;
}

#rm-advanced-settings h2 {
    font-size: 26px;
}

#rm-advanced-settings h3 {
    font-size: 22px;
    font-weight: normal;
}

#rm-advanced-settings hr {
    border-color: #666666;
}

#rm-advanced-settings .text-box {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 2rem;
    height: 94px;
    padding: 10px 10px 10px 0;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    background-color: #ffffff;
    background-size: cover;
    font-family: Arial;
    font-size: 14px;
    color: #969a9e;
    text-decoration: rgb(150, 154, 158);
}